# Prerequisites
*.d

# VS Code settings
.vscode/*
!.vscode/tasks.json
!.vscode/cp-main.code-snippets
*.code-workspace

# Input / Output files
input.txt
error.txt
output.txt

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
